{% extends "base.html" %} 
{% load tailwind_filters %}
{% block content %}
<div class="max-w-lg mx-auto">
  <div>
    <h1>Let's create a lead</h1>
  </div>
  <form method="post" class="mt-5">
    {% csrf_token %} 
    {{ form|crispy }}
    <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 px-3 py-1 rounded-md text-white">Submit</button>
  </form>
  <br />
  <a href="{% url 'leads:homepage' %}" class="w-full hover:text-blue-500  px-3 py-1 ">Leads</a>
</div>
{% endblock content %}
